<% title = 'About' %>

<%- include('./templates/common/header') %>

<div class="main-container">
    <section class="page-title page-title-4 image-bg overlay parallax">
        <div class="background-image-holder">
            <img alt="Background Image" class="background-image" src="img/cover12.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="uppercase mb0"><%= title %></h3>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2 class="number">2008</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2 class="number">150+</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h2>Millions</h2>
                    <p>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident.
                    </p>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <hr class="mb0">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <h5 class="uppercase">
                        <strong>Team</strong>
                    </h5>
                </div>
                <div class="col-md-9 col-sm-12 mb40 mb-xs-24 p0">
                    <div class="col-sm-7 mb64 mb-xs-24">
                        <img alt="Pic" src="img/team-1.jpg" />
                    </div>
                    <div class="col-sm-5 mb64 mb-xs-24">
                        <h5 class="uppercase mb0">Sally Marsh</h5>
                        <span class="inline-block mb40 mb-xs-24">Creative Director</span>
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                        </p>
                    </div>
                </div>
                <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                    <div class="col-sm-7 mb64 mb-xs-24">
                        <img alt="Pic" src="img/team-2.jpg" />
                    </div>
                    <div class="col-sm-5 mb64 mb-xs-24">
                        <h5 class="uppercase mb0">Tim Foley</h5>
                        <span class="inline-block mb40 mb-xs-24">Brand Director</span>
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                        </p>
                    </div>
                </div>
                <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                    <div class="col-sm-7 mb64 mb-xs-24">
                        <img alt="Pic" src="img/team-3.jpg" />
                    </div>
                    <div class="col-sm-5 mb64 mb-xs-24">
                        <h5 class="uppercase mb0">Jacob Marsh</h5>
                        <span class="inline-block mb40 mb-xs-24">Art Director</span>
                        <p>
                            Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est.
                        </p>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

<%- include('./templates/common/footer') %>