<% title = 'Home' %>

<%- include('./templates/common/header') %>

<div class="main-container">
    <section class="pt240 pb240 parallax image-bg overlay bg-light">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="img/home-header.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="uppercase mb1" style="color: white;">Farallon Development</h2>
                    <h4 class="uppercase mb0" style="color: white;">Building amazing products and high-performance engineering teams.</h4>
                </div>
            </div>
            <!--end of row-->
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
                    <h2 class="mb1">Your Digital Technology Partners</h2>
                    <h4 class="mb0">We help our customers develop code, architecture & teams that scale for the future.</h4>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-secondary">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-6 col-sm-6 text-center mb-xs-24 overflow-hidden">
                    <div>
                        <img class="col-xs-6 p0" alt="Pic" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" />
                        <img class="col-xs-6 p0" alt="Pic" src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80" />
                        <img class="col-xs-6 p0" alt="Pic" src="https://images.unsplash.com/photo-1552664730-d307ca884978?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" />
                        <img class="col-xs-6 p0" alt="Pic" src="https://images.unsplash.com/photo-1517148815978-75f6acaaf32c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" />
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 text-center">
                    <h3>Our Experience</h3>
                    <p>
                        With 15 years of engineering and engineering leadership experience at early-stage startups and Fortune 100 companies we want to share our skills and expertise to help your company succeed.
                    </p>
                    <a class="btn" href="services.html">Learn More</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

<%- include('./templates/common/footer') %>