<% title = 'Home' %>

<%- include('./templates/common/header') %>

<div class="main-container">
    <section class="pt240 pb240 parallax image-bg overlay bg-light">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="img/home-header.jpg" />
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h3 class="uppercase mb0" style="color: white;">Experienced software engineering<br />& leadership consultants.</h3>
                </div>
            </div>
            <!--end of row-->
        </div>
    </section>
    <section class="pb0">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-12 text-center">
                    <h3 class="mb0">Helping start-ups develop high-performing code, architecture, processes & teams that scale for the future.</h3>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <section class="bg-secondary">
        <div class="container">
            <div class="row v-align-children">
                <div class="col-md-7 col-sm-6 text-center mb-xs-24 overflow-hidden">
                    <div>
                        <img class="col-xs-6 p0" alt="Pic" src="img/capital-t-5.jpg" />
                        <img class="col-xs-6 p0" alt="Pic" src="img/capital-t-4.jpg" />
                        <img class="col-xs-6 p0" alt="Pic" src="img/capital-t-7.jpg" />
                        <img class="col-xs-6 p0" alt="Pic" src="img/capital-t-8.jpg" />
                    </div>
                </div>
                <div class="col-md-4 col-md-offset-1 col-sm-5 col-sm-offset-1 text-center">
                    <h3>Our Experience</h3>
                    <p>
                        With 15 years of engineering and engineering leadership experience at early-stage startups and Fortune 100 companies we want to share our skills and expertise to help your company succeed.
                    </p>
                    <a class="btn" href="services.html">Learn More</a>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

<%- include('./templates/common/footer') %>